<div style="width:200px;height:200px">
	<button type="button" id="reOrderButton" style="padding:0;margin:0;width:100%;height:50px;background-color:#34a0c8;">Re Order</button>
	<script type="text/javascript" src="ReOrderButtonListener.js"></script>
</div>