.blurb-td-odd,.blurb-td-even{border-color:#DDD #DDDDDD #DDD #DDDDDD;border-style:none none solid solid;border-width:0 0 1px 0;font-size:15px;padding:0 .3em;text-align:left;font-weight:normal;}
.blurb-td-odd{color:black;}
.blurb-td-even{color:black;}
.blurb-tr td{padding-top:1em;padding-bottom:1em;}
.blurb-td-head{padding:1em .3em .5em .3em;border-bottom-color:#777;border-width:0 0 2px;}
.blurb-textarea-popover{border:0 dotted #dddac0;width:95%;height:250px;resize:none;word-wrap:break-word;padding:5px;}
.blurb-edit-label{font-weight:bold;text-align:right;vertical-align:top;width:40%;padding:6px;}
.blurb-edit-field{vertical-align:top;width:60%;padding:6px;}
#editfield>tr{background-color:#F4F4F4;}
.multi-list-selected,.multi-list{background-color:white;overflow:auto;width:100%;height:250px;border:1px solid #DDD;}
.multi-list-selected table,.multi-list table{background-color:#FFF;padding:0;width:100%;}
.multi-list-selected tr,.multi-list tr{background-color:#FFF;cursor:default;line-height:1.5em;}
.multi-list tr.row-selected{background-color:#E3E9F6;}
.multi-list-selected td,.multi-list td{font-size:12px;padding-left:5px;padding-right:5px;}
.edit-big-table{background-color:#DDD;}
.popover-loading-text-cover{display:none;left:0;min-height:100%;opacity:.75;position:absolute;top:0;width:100%;}
.popover-loading-search-cover{display:none;left:0;opacity:.75;top:0;width:100%;height:20px;}
.manage-name-loading-search-spinner,.manage-tag-loading-search-spinner{display:none;float:left;height:20px;width:30px;}