/* START all message box styles */
.messageboximportant, .messageboxsuccess, .messageboxerror, .messageboxalert {
	margin: 1.5em auto 1.5em auto;
	width:75%;
	background-repeat: no-repeat;
	padding:10px;
	padding-left:45px;
	font-size: 9pt;
	text-align:left;
	}
	
.messagebox div{
	margin-top: .4em;
	font-size: 8pt;
	}
	
.messagebox div.multiple {
	margin-top:.75em;
	}
	
.messagebox ul.multiple {
 padding: 0px;
 margin: 0em 0em .1em ;
 list-style: none; 
}

.messagebox ul.multiple li {
 margin-bottom: .75em;
 font-size: 8pt;
}


/* START Important message box */
.messageboximportant {
	background-color:#ffffcc;
	background-image:url(importantmessage.gif);
	border:2px solid #336699;
	color:#000099;
	}


/* START Success message box */
.messageboxsuccess {
	background-color:#ffffcc;
	background-image:url(successmessage.gif);
	border:2px solid #006633;
	color:#006633;
	}
	

/* START Error message box */
.messageboxerror {
	background-color:#ffffcc;
	background-image:url(errormessage.gif);
	border:2px solid #992211;
	color:#992211;
    min-height: 25px;
	}
	

/* START Alert message box */
.messageboxalert {
	background-color:#ffffcc;
	background-image:url(alertmessage.gif);
	border:2px solid #eebb00;
	color:#000099;
	}
	

